In [83]:
%matplotlib inline

In [84]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
ca_dmv_peak_hours = "2017_peak_hours_report_kdfactor.csv"

In [85]:
# Read the City and Ride Data
ca_dmv_peak_hours = pd.read_csv(ca_dmv_peak_hours)

# Display the data table for preview
ca_dmv_peak_hours.head()

,DI,RTE,CO,PRE,PM,CS,LEG,YR,AM_DIR,AM_WAY_PHV,...,AM_DAY,AM_MONTH,PM_DIR,PM_WAY_PHV,PM_K_FACTOR_AMT,PM_D_FACTOR_AMT,PM_KD_FACTOR,PM_HOUR,PM_DAY,PM_MONTH
0,12,1,ORA,NaN,22.500,623.0,O,17,S,2536,...,WED,NOV,N,"2,596",8.92,78.86,7.03,18,WED,FEB
1,12,1,ORA,NaN,30.141,937.0,A,16,N,14488,...,FRI,JUN,S,"3,012",7.82,75.49,5.90,19,WED,OCT
2,7,1,LA,NaN,18.090,7.0,A,15,N,1143,...,THU,OCT,S,"1,321",8.02,56.31,4.52,17,TUE,NOV
3,7,1,LA,NaN,27.100,425.0,O,17,N,4363,...,TUE,OCT,N,"3,980",7.66,62.80,4.81,17,TUE,JUN
4,7,1,LA,NaN,40.769,720.0,A,16,N,2106,...,MON,FEB,N,"2,742",9.64,58.20,5.61,17,TUE,JAN

In [90]:
ca_dmv_peak_hours

,DI,RTE,CO,PRE,PM,CS,LEG,YR,AM_DIR,AM_WAY_PHV,...,AM_DAY,AM_MONTH,PM_DIR,PM_WAY_PHV,PM_K_FACTOR_AMT,PM_D_FACTOR_AMT,PM_KD_FACTOR,PM_HOUR,PM_DAY,PM_MONTH
0,12,1,ORA,NaN,22.500,623.0,O,17,S,2536,...,WED,NOV,N,"2,596",8.92,78.86,7.03,18,WED,FEB
1,12,1,ORA,NaN,30.141,937.0,A,16,N,14488,...,FRI,JUN,S,"3,012",7.82,75.49,5.90,19,WED,OCT
2,7,1,LA,NaN,18.090,7.0,A,15,N,1143,...,THU,OCT,S,"1,321",8.02,56.31,4.52,17,TUE,NOV
3,7,1,LA,NaN,27.100,425.0,O,17,N,4363,...,TUE,OCT,N,"3,980",7.66,62.80,4.81,17,TUE,JUN
4,7,1,LA,NaN,40.769,720.0,A,16,N,2106,...,MON,FEB,N,"2,742",9.64,58.20,5.61,17,TUE,JAN
5,7,1,LA,NaN,48.171,45.0,A,16,N,1440,...,SAT,AUG,S,"1,497",9.91,51.27,5.08,15,FRI,MAR
6,5,1,SB,R,0.000,517.0,A,17,S,752,...,WED,SEP,N,722,10.65,85.14,9.07,18,TUE,NOV
7,5,1,SB,NaN,19.251,296.0,B,16,S,886,...,THU,FEB,N,768,11.07,81.79,9.05,17,MON,AUG
8,5,1,SB,NaN,20.565,518.0,A,17,S,528,...,SAT,MAR,N,538,8.96,52.34,4.69,15,FRI,MAR
9,5,1,SB,NaN,22.519,294.0,O,17,N,1332,...,TUE,FEB,S,"1,399",9.21,56.12,5.17,16,THU,JUN
10,5,1,SB,R,23.296,286.0,A,17,N,1117,...,THU,MAY,S,"1,049",9.99,50.90,5.08,17,WED,AUG
11,5,1,SB,R,26.690,288.0,A,17,N,1112,...,THU,NOV,S,972,9.43,62.27,5.87,17,MON,FEB
12,5,1,SB,M,29.891,539.0,B,17,S,1102,...,FRI,SEP,S,"1,052",10.60,61.77,6.55,17,TUE,AUG
13,5,1,SB,M,29.891,290.0,A,17,S,1124,...,THU,SEP,N,"1,282",11.76,67.12,7.89,16,THU,NOV
14,5,1,SB,M,36.189,292.0,B,17,S,1119,...,TUE,SEP,N,"1,255",12.61,66.16,8.34,16,TUE,SEP
15,5,1,SB,R,31.042,223.0,A,17,S,1437,...,WED,APR,N,"1,526",11.99,66.52,7.98,16,THU,JUL
16,5,1,SB,NaN,41.810,519.0,A,17,N,282,...,TUE,OCT,S,269,14.03,65.61,9.21,16,TUE,AUG
17,5,1,SB,NaN,49.199,128.0,A,17,N,297,...,FRI,OCT,S,404,10.99,57.31,6.30,16,MON,JUL
18,5,1,SLO,NaN,15.268,142.0,O,17,N,773,...,THU,APR,S,653,9.75,59.85,5.84,17,MON,APR
19,5,1,SLO,NaN,16.770,520.0,A,17,N,1533,...,THU,FEB,N,"1,727",7.65,76.55,5.86,14,FRI,SEP
20,5,1,SLO,NaN,27.883,271.0,A,17,S,1242,...,TUE,APR,N,"1,482",9.54,59.61,5.69,17,TUE,APR
21,5,1,SLO,NaN,48.260,551.0,A,17,N,533,...,TUE,DEC,S,586,13.84,56.89,7.87,16,FRI,DEC
22,5,1,MON,NaN,75.135,259.0,A,16,S,2330,...,FRI,OCT,N,"2,484",8.59,58.84,5.06,16,MON,OCT
23,5,1,MON,R,79.357,261.0,B,16,S,4022,...,THU,JUL,N,"3,821",8.12,63.77,5.18,15,THU,OCT
24,5,1,MON,R,89.177,525.0,O,16,S,3140,...,WED,JAN,N,"3,517",9.47,66.90,6.34,16,THU,JUL
25,4,1,SM,NaN,0.000,163.0,A,16,S,470,...,SUN,JUL,S,480,15.85,59.70,9.46,13,SUN,JUL
26,4,1,SM,NaN,18.189,47.0,A,16,S,586,...,SAT,JUL,N,692,15.92,60.76,9.67,15,SUN,APR
27,4,1,SM,NaN,18.189,46.0,B,16,S,652,...,SUN,JUL,N,800,17.20,64.15,11.03,16,SUN,APR
28,4,1,SM,NaN,26.432,433.0,B,16,S,671,...,SAT,JUL,N,744,13.05,62.84,8.20,17,SUN,JUL
29,4,1,SM,NaN,30.225,164.0,B,16,S,1228,...,MON,APR,N,"1,262",8.53,54.59,4.66,15,FRI,APR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1382,10,580,SJ,NaN,8.149,421.0,X,16,W,2519,...,WED,MAY,E,"2,282",9.10,69.36,6.31,17,FRI,SEP
1383,4,580,ALA,NaN,10.689,532.0,A,17,E,8430,...,THU,AUG,W,"10,713",7.22,66.33,4.79,14,WED,AUG
1384,4,580,ALA,NaN,30.354,535.0,A,17,E,7364,...,MON,MAY,E,"7,477",6.88,53.43,3.67,16,MON,FEB
1385,12,605,ORA,R,1.100,219.0,A,16,N,7464,...,TUE,JUN,N,"8,444",7.27,58.03,4.22,16,TUE,OCT
1386,7,605,LA,R,2.310,220.0,O,16,N,7651,...,WED,APR,N,"8,860",7.52,57.66,4.34,17,MON,OCT
1387,7,605,LA,R,8.900,485.0,B,15,S,9482,...,THU,APR,S,"9,636",5.80,56.48,3.28,17,WED,APR
1388,7,605,LA,NaN,22.920,547.0,O,15,S,5933,...,WED,MAY,N,"5,701",6.85,50.83,3.48,14,SAT,OCT
1389,4,680,ALA,M,1.961,39.0,A,15,S,6856,...,THU,AUG,S,"5,717",7.88,53.96,4.25,17,TUE,SEP
1390,4,680,ALA,R,20.057,157.0,A,15,N,6867,...,WED,NOV,N,"7,978",7.91,59.85,4.73,18,TUE,NOV
1391,4,680,CC,R,0.010,557.0,A,15,S,6653,...,TUE,AUG,S,"7,380",7.48,57.68,4.31,16,FRI,MAY
1392,4,680,CC,R,0.020,900.0,O,17,S,6272,...,THU,AUG,S,"6,632",6.41,56.35,3.61,16,THU,DEC
1393,4,680,CC,R,6.764,419.0,O,15,S,6575,...,THU,FEB,N,"6,055",7.60,52.88,4.02,14,FRI,MAY
1394,4,680,CC,R,18.707,301.0,B,15,S,9880,...,TUE,MAY,N,"10,782",6.50,67.15,4.37,17,THU,MAY
1395,7,710,LA,NaN,7.600,37.0,A,17,N,8515,...,TUE,OCT,N,"8,299",11.51,51.01,5.87,16,FRI,OCT
1396,7,710,LA,NaN,10.310,38.0,A,15,S,7252,...,MON,APR,N,"6,714",7.10,51.39,3.65,16,MON,MAY
1397,7,710,LA,R,27.110,436.0,A,16,S,2258,...,WED,FEB,N,"1,971",7.36,58.77,4.32,17,WED,MAR
1398,4,780,SOL,NaN,6.656,341.0,A,15,E,2665,...,WED,MAR,W,"2,883",8.77,54.72,4.80,17,THU,FEB
1399,11,805,SD,NaN,0.647,922.0,A,17,S,2947,...,SAT,DEC,S,"3,495",8.05,65.47,5.27,15,THU,DEC
1400,11,805,SD,NaN,1.805,681.0,A,17,N,9517,...,SAT,JUL,N,"10,511",9.18,67.59,6.21,17,THU,JUL
1401,11,805,SD,NaN,5.542,684.0,O,17,N,6908,...,MON,SEP,S,"8,092",7.93,56.53,4.48,15,THU,AUG
1402,11,805,SD,NaN,8.854,944.0,A,17,N,9833,...,FRI,MAR,S,"9,770",7.80,57.29,4.47,15,FRI,OCT
1403,11,805,SD,NaN,8.854,924.0,B,17,N,10576,...,TUE,APR,S,"11,609",7.53,64.81,4.88,16,FRI,SEP
1404,11,805,SD,NaN,11.096,925.0,B,17,N,9576,...,WED,JAN,S,"10,077",7.21,61.85,4.46,15,THU,JAN
1405,11,805,SD,NaN,16.431,927.0,B,17,N,7628,...,MON,JUN,S,"9,183",7.80,61.47,4.80,14,FRI,APR
1406,11,805,SD,NaN,23.651,929.0,B,17,N,7754,...,WED,MAY,S,"8,756",7.94,57.80,4.59,14,FRI,JUN
1407,11,805,SD,NaN,24.440,683.0,X,17,N,8892,...,WED,JUL,S,"9,221",7.75,61.15,4.74,14,FRI,MAY
1408,11,805,SD,NaN,28.502,930.0,B,17,S,7327,...,WED,NOV,N,"6,906",6.94,60.89,4.22,16,WED,JUN
1409,11,905,SD,NaN,3.207,932.0,A,17,W,2533,...,WED,APR,E,"2,872",8.87,54.66,4.85,15,THU,FEB
1410,11,905,SD,NaN,5.164,942.0,A,17,E,4089,...,MON,DEC,W,"4,200",9.29,54.98,5.11,16,THU,DEC
1411,11,905,SD,R,11.366,127.0,A,17,W,1531,...,THU,NOV,E,"1,748",7.57,64.79,4.90,16,TUE,JAN

In [86]:
ca_dmv_peak_hours.shape

(1412, 24)

In [87]:
ca_dmv_peak_hours.describe

<bound method NDFrame.describe of       DI  RTE   CO  PRE      PM     CS LEG  YR AM_DIR  AM_WAY_PHV  ...  \
0     12    1  ORA  NaN  22.500  623.0   O  17      S        2536  ...
1     12    1  ORA  NaN  30.141  937.0   A  16      N       14488  ...
2      7    1   LA  NaN  18.090    7.0   A  15      N        1143  ...
3      7    1   LA  NaN  27.100  425.0   O  17      N        4363  ...
4      7    1   LA  NaN  40.769  720.0   A  16      N        2106  ...
5      7    1   LA  NaN  48.171   45.0   A  16      N        1440  ...
6      5    1   SB    R   0.000  517.0   A  17      S         752  ...
7      5    1   SB  NaN  19.251  296.0   B  16      S         886  ...
8      5    1   SB  NaN  20.565  518.0   A  17      S         528  ...
9      5    1   SB  NaN  22.519  294.0   O  17      N        1332  ...
10     5    1   SB    R  23.296  286.0   A  17      N        1117  ...
11     5    1   SB    R  26.690  288.0   A  17      N        1112  ...
12     5    1   SB    M  29.891  539.0   B  17      S        1102  ...
13     5    1   SB    M  29.891  290.0   A  17      S        1124  ...
14     5    1   SB    M  36.189  292.0   B  17      S        1119  ...
15     5    1   SB    R  31.042  223.0   A  17      S        1437  ...
16     5    1   SB  NaN  41.810  519.0   A  17      N         282  ...
17     5    1   SB  NaN  49.199  128.0   A  17      N         297  ...
18     5    1  SLO  NaN  15.268  142.0   O  17      N         773  ...
19     5    1  SLO  NaN  16.770  520.0   A  17      N        1533  ...
20     5    1  SLO  NaN  27.883  271.0   A  17      S        1242  ...
21     5    1  SLO  NaN  48.260  551.0   A  17      N         533  ...
22     5    1  MON  NaN  75.135  259.0   A  16      S        2330  ...
23     5    1  MON    R  79.357  261.0   B  16      S        4022  ...
24     5    1  MON    R  89.177  525.0   O  16      S        3140  ...
25     4    1   SM  NaN   0.000  163.0   A  16      S         470  ...
26     4    1   SM  NaN  18.189   47.0   A  16      S         586  ...
27     4    1   SM  NaN  18.189   46.0   B  16      S         652  ...
28     4    1   SM  NaN  26.432  433.0   B  16      S         671  ...
29     4    1   SM  NaN  30.225  164.0   B  16      S        1228  ...
...   ..  ...  ...  ...     ...    ...  ..  ..    ...         ...  ...
1382  10  580   SJ  NaN   8.149  421.0   X  16      W        2519  ...
1383   4  580  ALA  NaN  10.689  532.0   A  17      E        8430  ...
1384   4  580  ALA  NaN  30.354  535.0   A  17      E        7364  ...
1385  12  605  ORA    R   1.100  219.0   A  16      N        7464  ...
1386   7  605   LA    R   2.310  220.0   O  16      N        7651  ...
1387   7  605   LA    R   8.900  485.0   B  15      S        9482  ...
1388   7  605   LA  NaN  22.920  547.0   O  15      S        5933  ...
1389   4  680  ALA    M   1.961   39.0   A  15      S        6856  ...
1390   4  680  ALA    R  20.057  157.0   A  15      N        6867  ...
1391   4  680   CC    R   0.010  557.0   A  15      S        6653  ...
1392   4  680   CC    R   0.020  900.0   O  17      S        6272  ...
1393   4  680   CC    R   6.764  419.0   O  15      S        6575  ...
1394   4  680   CC    R  18.707  301.0   B  15      S        9880  ...
1395   7  710   LA  NaN   7.600   37.0   A  17      N        8515  ...
1396   7  710   LA  NaN  10.310   38.0   A  15      S        7252  ...
1397   7  710   LA    R  27.110  436.0   A  16      S        2258  ...
1398   4  780  SOL  NaN   6.656  341.0   A  15      E        2665  ...
1399  11  805   SD  NaN   0.647  922.0   A  17      S        2947  ...
1400  11  805   SD  NaN   1.805  681.0   A  17      N        9517  ...
1401  11  805   SD  NaN   5.542  684.0   O  17      N        6908  ...
1402  11  805   SD  NaN   8.854  944.0   A  17      N        9833  ...
1403  11  805   SD  NaN   8.854  924.0   B  17      N       10576  ...
1404  11  805   SD  NaN  11.096  925.0   B  17      N        9576  ...
1405  11  805   SD  NaN  16.431  927.0   B  17      N        7628  ...
1406  11  805   SD  NaN  23.651  929.0   B  17      N        7754  ...
1407  11  805   SD  NaN  24.440  683.0   X  17      N        8892  ...
1408  11  805   SD  NaN  28.502  930.0   B  17      S        7327  ...
1409  11  905   SD  NaN   3.207  932.0   A  17      W        2533  ...
1410  11  905   SD  NaN   5.164  942.0   A  17      E        4089  ...
1411  11  905   SD    R  11.366  127.0   A  17      W        1531  ...

      AM_DAY  AM_MONTH  PM_DIR  PM_WAY_PHV PM_K_FACTOR_AMT PM_D_FACTOR_AMT  \
0        WED       NOV       N       2,596            8.92           78.86
1        FRI       JUN       S       3,012            7.82           75.49
2        THU       OCT       S       1,321            8.02           56.31
3        TUE       OCT       N       3,980            7.66           62.80
4        MON       FEB       N       2,742            9.64           58.20
5        SAT       AUG       S       1,497            9.91           51.27
6        WED       SEP       N         722           10.65           85.14
7        THU       FEB       N         768           11.07           81.79
8        SAT       MAR       N         538            8.96           52.34
9        TUE       FEB       S       1,399            9.21           56.12
10       THU       MAY       S       1,049            9.99           50.90
11       THU       NOV       S         972            9.43           62.27
12       FRI       SEP       S       1,052           10.60           61.77
13       THU       SEP       N       1,282           11.76           67.12
14       TUE       SEP       N       1,255           12.61           66.16
15       WED       APR       N       1,526           11.99           66.52
16       TUE       OCT       S         269           14.03           65.61
17       FRI       OCT       S         404           10.99           57.31
18       THU       APR       S         653            9.75           59.85
19       THU       FEB       N       1,727            7.65           76.55
20       TUE       APR       N       1,482            9.54           59.61
21       TUE       DEC       S         586           13.84           56.89
22       FRI       OCT       N       2,484            8.59           58.84
23       THU       JUL       N       3,821            8.12           63.77
24       WED       JAN       N       3,517            9.47           66.90
25       SUN       JUL       S         480           15.85           59.70
26       SAT       JUL       N         692           15.92           60.76
27       SUN       JUL       N         800           17.20           64.15
28       SAT       JUL       N         744           13.05           62.84
29       MON       APR       N       1,262            8.53           54.59
...      ...       ...     ...         ...             ...             ...
1382     WED       MAY       E       2,282            9.10           69.36
1383     THU       AUG       W      10,713            7.22           66.33
1384     MON       MAY       E       7,477            6.88           53.43
1385     TUE       JUN       N       8,444            7.27           58.03
1386     WED       APR       N       8,860            7.52           57.66
1387     THU       APR       S       9,636            5.80           56.48
1388     WED       MAY       N       5,701            6.85           50.83
1389     THU       AUG       S       5,717            7.88           53.96
1390     WED       NOV       N       7,978            7.91           59.85
1391     TUE       AUG       S       7,380            7.48           57.68
1392     THU       AUG       S       6,632            6.41           56.35
1393     THU       FEB       N       6,055            7.60           52.88
1394     TUE       MAY       N      10,782            6.50           67.15
1395     TUE       OCT       N       8,299           11.51           51.01
1396     MON       APR       N       6,714            7.10           51.39
1397     WED       FEB       N       1,971            7.36           58.77
1398     WED       MAR       W       2,883            8.77           54.72
1399     SAT       DEC       S       3,495            8.05           65.47
1400     SAT       JUL       N      10,511            9.18           67.59
1401     MON       SEP       S       8,092            7.93           56.53
1402     FRI       MAR       S       9,770            7.80           57.29
1403     TUE       APR       S      11,609            7.53           64.81
1404     WED       JAN       S      10,077            7.21           61.85
1405     MON       JUN       S       9,183            7.80           61.47
1406     WED       MAY       S       8,756            7.94           57.80
1407     WED       JUL       S       9,221            7.75           61.15
1408     WED       NOV       N       6,906            6.94           60.89
1409     WED       APR       E       2,872            8.87           54.66
1410     MON       DEC       W       4,200            9.29           54.98
1411     THU       NOV       E       1,748            7.57           64.79

     PM_KD_FACTOR PM_HOUR  PM_DAY  PM_MONTH
0            7.03      18     WED       FEB
1            5.90      19     WED       OCT
2            4.52      17     TUE       NOV
3            4.81      17     TUE       JUN
4            5.61      17     TUE       JAN
5            5.08      15     FRI       MAR
6            9.07      18     TUE       NOV
7            9.05      17     MON       AUG
8            4.69      15     FRI       MAR
9            5.17      16     THU       JUN
10           5.08      17     WED       AUG
11           5.87      17     MON       FEB
12           6.55      17     TUE       AUG
13           7.89      16     THU       NOV
14           8.34      16     TUE       SEP
15           7.98      16     THU       JUL
16           9.21      16     TUE       AUG
17           6.30      16     MON       JUL
18           5.84      17     MON       APR
19           5.86      14     FRI       SEP
20           5.69      17     TUE       APR
21           7.87      16     FRI       DEC
22           5.06      16     MON       OCT
23           5.18      15     THU       OCT
24           6.34      16     THU       JUL
25           9.46      13     SUN       JUL
26           9.67      15     SUN       APR
27          11.03      16     SUN       APR
28           8.20      17     SUN       JUL
29           4.66      15     FRI       APR
...           ...     ...     ...       ...
1382         6.31      17     FRI       SEP
1383         4.79      14     WED       AUG
1384         3.67      16     MON       FEB
1385         4.22      16     TUE       OCT
1386         4.34      17     MON       OCT
1387         3.28      17     WED       APR
1388         3.48      14     SAT       OCT
1389         4.25      17     TUE       SEP
1390         4.73      18     TUE       NOV
1391         4.31      16     FRI       MAY
1392         3.61      16     THU       DEC
1393         4.02      14     FRI       MAY
1394         4.37      17     THU       MAY
1395         5.87      16     FRI       OCT
1396         3.65      16     MON       MAY
1397         4.32      17     WED       MAR
1398         4.80      17     THU       FEB
1399         5.27      15     THU       DEC
1400         6.21      17     THU       JUL
1401         4.48      15     THU       AUG
1402         4.47      15     FRI       OCT
1403         4.88      16     FRI       SEP
1404         4.46      15     THU       JAN
1405         4.80      14     FRI       APR
1406         4.59      14     FRI       JUN
1407         4.74      14     FRI       MAY
1408         4.22      16     WED       JUN
1409         4.85      15     THU       FEB
1410         5.11      16     THU       DEC
1411         4.90      16     TUE       JAN

[1412 rows x 24 columns]>

In [64]:
ca_dmv_peak_hours.columns

Index(['DI', 'RTE', 'CO', 'PRE', 'PM', 'CS', 'LEG', 'YR', 'AM_DIR',
       'AM_WAY_PHV', 'AM_K_FACTOR_AMT', 'AM_D_FACTOR_AMT', 'AM_KD_FACTOR',
       'AM_HOUR', 'AM_DAY', 'AM_MONTH', 'PM_DIR', 'PM_WAY_PHV',
       'PM_K_FACTOR_AMT', 'PM_D_FACTOR_AMT', 'PM_KD_FACTOR', 'PM_HOUR',
       'PM_DAY', 'PM_MONTH'],
      dtype='object')

In [65]:
# Identify incomplete rows
ca_dmv_peak_hours.count()

DI                 1412
RTE                1412
CO                 1412
PRE                 449
PM                 1412
CS                 1411
LEG                1412
YR                 1412
AM_DIR             1412
AM_WAY_PHV         1412
AM_K_FACTOR_AMT    1412
AM_D_FACTOR_AMT    1412
AM_KD_FACTOR       1412
AM_HOUR            1412
AM_DAY             1412
AM_MONTH           1412
PM_DIR             1412
PM_WAY_PHV         1412
PM_K_FACTOR_AMT    1412
PM_D_FACTOR_AMT    1412
PM_KD_FACTOR       1412
PM_HOUR            1412
PM_DAY             1412
PM_MONTH           1412
dtype: int64

In [66]:
# Drop all rows with missing information
df = ca_dmv_peak_hours.dropna(how='any')

In [67]:
df.count()

DI                 449
RTE                449
CO                 449
PRE                449
PM                 449
CS                 449
LEG                449
YR                 449
AM_DIR             449
AM_WAY_PHV         449
AM_K_FACTOR_AMT    449
AM_D_FACTOR_AMT    449
AM_KD_FACTOR       449
AM_HOUR            449
AM_DAY             449
AM_MONTH           449
PM_DIR             449
PM_WAY_PHV         449
PM_K_FACTOR_AMT    449
PM_D_FACTOR_AMT    449
PM_KD_FACTOR       449
PM_HOUR            449
PM_DAY             449
PM_MONTH           449
dtype: int64

In [68]:
# DAY (AM_SUMMARY)
#print AM_K_FACTOR_AMT
print(round(ca_dmv_peak_hours["AM_K_FACTOR_AMT"].sum()))


#print AM_D_FACTOR_AMT
print(round(ca_dmv_peak_hours["AM_D_FACTOR_AMT"].sum()))


#print AM_KD_FACTOR
print(round(ca_dmv_peak_hours["AM_KD_FACTOR"].sum()))

14092.0
90285.0
9118.0

In [69]:
# NIGHT (PM_SUMMARY)
#print PM_K_FACTOR_AMT
print(round(ca_dmv_peak_hours["PM_K_FACTOR_AMT"].sum()))


#print PM_D_FACTOR_AMT
print(round(ca_dmv_peak_hours["PM_D_FACTOR_AMT"].sum()))


#print PM_KD_FACTOR
print(round(ca_dmv_peak_hours["PM_KD_FACTOR"].sum()))

15193.0
87114.0
9541.0

In [70]:
# TESTING METHODS

In [71]:
R_type = ca_dmv_peak_hours.set_index('CO')['PM_HOUR']
R_type.value_counts()

16    428
17    347
15    289
14    186
13    115
18     31
19      7
21      3
20      3
22      2
0       1
Name: PM_HOUR, dtype: int64

In [72]:
print(ca_dmv_peak_hours["CO"].value_counts())

SD     138
KER    113
FRE     73
LA      73
TUL     66
IMP     47
SHA     46
SAC     42
SB      42
INY     41
SBD     38
ORA     38
MNO     34
PLA     30
SIS     29
MAD     28
BUT     25
RIV     25
SLO     25
MEN     24
SM      23
SUT     22
HUM     22
KIN     22
TEH     20
SJ      20
YOL     19
SCL     19
MON     19
PLU     18
VEN     17
LAS     17
CC      16
NEV     15
SOL     13
MER     12
ED      12
YUB     12
LAK     11
TRI     11
GLE     10
ALA     10
MOD      9
STA      8
SON      7
DN       6
MPA      6
TUO      5
SIE      5
COL      5
SF       4
SBT      4
AMA      4
NAP      4
MRN      3
CAL      3
ALP      1
SCR      1
Name: CO, dtype: int64

In [73]:
# Testing methods
Rc_Pc = len(ca_dmv_peak_hours["CO"].value_counts())
print(Rc_Pc)

58

In [96]:
# Create a new DataFrame that looks into SF county
Sf_df = ca_dmv_peak_hours.loc[ca_dmv_peak_hours["CO"] == "SF"]
Sf_df

,DI,RTE,CO,PRE,PM,CS,LEG,YR,AM_DIR,AM_WAY_PHV,...,AM_DAY,AM_MONTH,PM_DIR,PM_WAY_PHV,PM_K_FACTOR_AMT,PM_D_FACTOR_AMT,PM_KD_FACTOR,PM_HOUR,PM_DAY,PM_MONTH
32,4,1,SF,NaN,4.050,103.0,B,16,N,2535,...,SAT,OCT,S,"2,505",6.70,52.55,3.52,16,TUE,JAN
868,4,101,SF,NaN,5.322,110.0,B,16,S,1725,...,THU,NOV,N,"1,691",6.21,59.40,3.69,17,THU,AUG
869,4,101,SF,NaN,5.940,111.0,A,16,N,1484,...,FRI,MAY,N,"1,963",6.68,68.07,4.55,17,FRI,MAY
1301,4,280,SF,R,0.000,112.0,A,17,N,6420,...,THU,OCT,S,"6,544",8.68,53.51,4.64,15,FRI,OCT